{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container flex justify-center">
    <form method="post" action="{% url 'login' %}" class="px-12 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <div class="text-gray-800 text-2xl flex justify-center border-b-2 py-2 mb-4">
          Blog Login
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-normal mb-2" for="{{ form.username.auto_id }}">{{ form.username.label }}</label>
            {{ form.username }}
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-normal mb-2" for="{{ form.password.auto_id }}">{{ form.password.label }}</label>
            {{ form.password }}
        </div>
        <div class="flex items-center justify-between">
            <button class="px-4 py-2 rounded text-white inline-block shadow-lg bg-blue-500 hover:bg-blue-600 focus:bg-blue-700" type="submit">Sign In</button>
            <a
            class="inline-block align-baseline font-normal text-sm text-blue-500 hover:text-blue-800"
            href="#">
            Forgot Password?
            </a>
        </div>
    </form>
</div>
{% endblock %}